<div style="text-align:center">
   <div>
    <label>{{first_name}}</label>
    <input type="text" />
  </div>
  <div>
    <label>{{last_name}}</label>
    <input type="text" />
  </div>
  <div>
    <label>{{email_id}}</label>
    <input type="text" />
  </div>
  <div>
    <label>{{address}}</label>
    <input type="text" />
  </div>
  <div>
    <label>{{pincode}}</label>
    <input type="text" />
  </div>
</div>
<label>Selected Language : {{select}}</label><br/>
<label>Reflected Language from service(child 1) : {{lang}}</label>